<table class="store-table">
  <thead>
    <tr>
      <th>Адрес</th>
      <th>Старт</th>
      <th>Менеджер</th>
      <th>ИП</th>
      <th>УТМ</th>
      <th>Учетные записи</th>
      <th>Оборудование</th>
      <th>Интернет</th>
      <th>Примечание</th>
    </tr>
  </thead>
</table>
